GUNICORN_WORKERS=4
GUNICORN_LOG_LEVEL="info"

DATABASE_DEVDB_HOST=127.0.0.1
DATABASE_DEVDB_PORT=3306
DATABASE_DEVDB_USER=dbuser
DATABASE_DEVDB_PASSWORD=dbuser
DATABASE_DEVDB_DB=dev_db

REDIS_DEV_HOST=127.0.0.1
REDIS_DEV_PORT=6379
REDIS_DEV_DB=0
REDIS_DEV_TIMEOUT=1

KAFKA_BOOTSTRAP_SERVERS=['127.0.0.1:9092']
KAFKA_TOPIC='dev_topic'
KAFKA_GROUP_ID='dev_group'
KAFKA_PRODUCER_RETRIES=10
KAFKA_PRODUCER_ACKS=1
KAFKA_CONSUMER_AUTO_OFFSET_RESET='latest'
KAFKA_CONSUMER_ENABLE_AUTO_COMMIT=true

ELASTICSEARCH_DEV_HOST=127.0.0.1
ELASTICSEARCH_DEV_PORT=9200
ELASTICSEARCH_DEV_SCHEME="http"
ELASTICSEARCH_DEV_TIMEOUT=1

EMAIL_SMTP_HOST=127.0.0.1
EMAIL_SMTP_PORT=25
EMAIL_SMTP_TIMEOUT=10
EMAIL_FROM="iotsink"
EMAIL_RECIPIENTS=['dev@testmail.com']
EMAIL_RECIPIENTS_ADMIN=['admin@testmail.com']
EMAIL_RECIPIENTS_CONTENT=['dev@testmail.com']

LOGS_DIRECTORY="logs"
LOGS_MAX_SIZE_MB=50
LOGS_LOGFILE_ENABLED=false
LOGS_EMAIL_ENABLED=true